<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-04-13T11:47:49Z</date>
	<key>WorkspacePath</key>
	<string>/Users/guilhermebernava/Downloads/flutter-gerenciamento-de-estado-aula-2/ios/Runner.xcworkspace</string>
</dict>
</plist>
